.footer {
    background-color: hsl(216, 53%, 9%);
    padding: 15rem 2rem 3rem;

    a{
        color: white;

        &:hover{
            font-weight: bold;
        }
    }

    li{
        list-style-type: none;
    }

    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    p {
        font-size: 1em;
        max-width: 370px;
        margin: 0;
    }
}

.footer-menu,
.footer-contact {
    width: auto;
    padding: 0;
}

.footer-menu li {
    margin: 0 0 1rem;
}

.footer-social {
    width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0;

    li {
        display: inline;
        margin: 0 1rem 1rem;
        // width: 2rem;
        // height: 2rem;
        padding: 0.25rem;
        border-radius: 100%;
        border: thin solid white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            border-color: #65e2d9;

            & svg {
                fill:#65e2d9;  
                ;
            }
        }
    }

}

.footer-contact {
    font-style: normal;
}

.footer-contact div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-icon {
    height: 17px;
    width: 18px;
}

.footer-logo {
    width: 100%;

}

@media screen and (min-width: 768px) {

    .footer-menu,
    .footer-contact {
        width: auto;
        margin: 0 0 3rem;
        padding: 0 3rem 0 0;
    }

    .footer .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
}

@media screen and (min-width: 1000px) {

    .footer-menu,
    .footer-contact {
        padding: 0;
    }

    .footer .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .footer-social {
        margin: 0;
    }
}

.foot-logo{
    width:9rem;
    margin-bottom: 2rem;
}

.attribution{
    text-align: center;
    margin: auto;
    color: #65e2d9;

    a{
        color: #65e2d9;  
    }
}