.quotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #19202b;
    position: relative;
    padding:0 50px;

    &:before {
        content: "";
        position: absolute;
        top: -2rem;
        left: 60px;
        background: url(../assets/images/bg-quotes.png) no-repeat left center;
        background-size: 100%;
        height: 3rem;
        width: clamp(2rem, 8vw, 3.5rem);
        z-index: 0;
    }
}

.quote-card {
    width: 100%;
    max-width: 280px;
    padding: 1.5rem;
    background-color: hsl(219, 30%, 18%);
    border-radius: .5rem;
    margin: 0 auto 1.5rem;
    -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.57);
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.57);
    z-index: 1;
}


.quote-card img {
    width: 24px;
    height: auto;
    border-radius: 100%;
}

.card-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.quote-card>p {
    font-size: 10px;
    line-height: 1.9;
    margin: 0 0 1rem;
}

.card-details {
    margin: 0 .5rem;
}

.card-details>* {
    margin: 0 0 .2rem;
}

.card-name {
    font-size: 11px;
    font-weight: bold;
}

.card-title {
    font-size: 8px;
}

@media screen and (min-width: 800px) {
    .quote-card {
        max-width: 360px;
    }

    .quote-card>p {
        font-size:15px;
        line-height: 1.6;
    }
}