
$sans: 'Open Sans';
$rale: 'Raleway';


// bootstrap themeing
$body-bg: #1c2431;
$body-color: hsl(0, 0%, 100%);

$myBlue:hsl(198, 60%, 50%);
$myLightBlue:hsl(176, 68%, 64%);

$theme-colors: (
  "primary":hsl(198, 60%, 50%),
  "danger":hsl(176, 68%, 64%)
);